$s-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$d-d-cyan: hsl(167, 40%, 24%);
$d-blue: hsl(198, 62%, 26%);
$d-m-cyan: hsl(168, 34%, 41%);
$v-d-d-blue: hsl(212, 27%, 19%);
$v-d-g-blue: hsl(213, 9%, 39%);
$d-g-blue: hsl(232, 10%, 55%);
$g-blue: hsl(210, 4%, 67%);
$cyan: #91d4c6;
$white: hsl(0, 0%, 100%);
$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", sans-serif;

//Testing mixin
@mixin buttonStyle {
  padding: 1rem 2rem;
  background-color: none;
  border: none;
  border-radius: 40px;
}

@import "hero";
@import "navigation";
@import "services";
@import "testimonials";
@import "gallery";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  font-size: 18px;
}

.link-container {
  display: flex;
  align-items: center;
  gap: 3.5rem;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: $barlow;
    gap: 3.5rem;
  }

  li {
    color: $white;
    font-weight: 600;
  }
}
