.navigation-container {
  display: flex;
  padding: 3rem 3rem;
  align-items: center;
  justify-content: space-between;

  button {
    @include buttonStyle;
    font-family: $fraunces;
    font-size: 1rem;
    font-weight: 700;
    color: $v-d-d-blue;
  }
}
