:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --d-blue: hsl(249, 10%, 26%);
    --g-blue: hsl(246, 25%, 77%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/bg-intro-desktop.png);
    background-color:var(--red) ;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    max-width:1100px;
    margin: 2rem;
}

.left-section{
    max-width: 50%;
    display: flex;
    align-items: center;
}

.text-section h1{
    color: #FFF;
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1;
}

.text-section p{
    color: #FFF;
}


.right-section{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
}

.trial-section{
    padding: 1rem 2rem;
    background-color: var(--blue);
    border-radius: 10px;
    margin-bottom: 1.5rem;
    color: #FFF;
    text-align: center;
    font-weight: 600;
}


.trial-section span{
    font-weight: 400;
}

.form-information{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #FFF;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 10px;
}

.form-button{
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: var(--green);
    color: #FFF;
    border-style: none;
    margin: 0.5rem 0rem;
    border-radius: 5px;
}


.terms-section{
    text-align: center;
    font-size: 10px;
    color: var(--g-blue);
}

.form-information span{
    color: var(--red);
    font-weight: 600;
}

.input-section{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.email, .input-style{
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
    /*margin: 0.5rem 0rem;*/
    font-weight: 600;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--g-blue);
}

.input-style.error, .email.error{
    border-color: var(--red);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right 2rem center;
}

.action-message,
.email-message{
    text-align: right;
    font-size: 12px;
    /*margin-bottom: 1rem;*/
    color: var(--red);
    font-style: italic;
    opacity: 0;
}

.action-message.active,
.email-message.active{
    opacity: 1;
    margin-bottom: 1rem;
}

@media screen and (max-width: 780px) {
    
    body{
        height: auto;
    }

    .wrapper{
        flex-direction: column;
        width:90%;
        text-align: center;
        margin: 2rem auto;
    }

    .left-section{
        max-width: 100%;
    }

    .left-section h1{
       font-size: 2rem;
    }

    .right-section{
        max-width: 100%;
    }

    .text-section{
        padding: 0rem 0.5rem;
    }

    .trial-section{
        margin: 3rem 0 1.5rem;
        padding: 1rem 3rem;
    }

    .terms-section{
        padding: 0rem 2rem;
    }

}
