$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

$alata: "Alata", sans-serif;
$josefin: "Josefin Sans", sans-serif;

@import "hero";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $alata;
}

.layout {
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}
