.hero {
  padding: 5rem 0rem 5rem 0rem;
  height: 90vh;
  background: rgba(0, 0, 0, 0.5) url("../assets//images/image-hero.jpg")
    no-repeat;
  background-blend-mode: darken;
  background-size: cover;

  > .container {
    height: 100%;
  }
}

.hero-heading {
  max-width: 800px;
  height: 100%;
  display: flex;
  align-items: center;

  h1 {
    color: $white;
    font-family: $josefin;
    font-weight: 300;
    font-size: 6rem;
    border: 3px solid $white;
    padding: 2rem;
  }
}

.menu-icon {
  display: none;
}

@media (max-width: 992px) {
  .hero {
    background-position: center;
  }
}

@media (max-width: 768px) {
  .hero > .container > .nav-reusable > ul {
    display: none;
  }

  .hero-heading {
    max-width: 100%;
    h1 {
      font-size: 4rem;
    }
  }

  .menu-icon {
    display: block;
  }
}

@media (max-width: 600px) {
  .hero-heading > h1 {
    font-size: 2.5rem;
  }
}
